<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--<sectionGroup name="devExpress"  LOCALINTRANET>
      <section name="themes" type="DevExpress.Web.ASPxClasses.ThemesConfigurationSection, DevExpress.Web.v13.2, Version=13.2.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="compression" type="DevExpress.Web.ASPxClasses.CompressionConfigurationSection, DevExpress.Web.v13.2, Version=13.2.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="settings" type="DevExpress.Web.ASPxClasses.SettingsConfigurationSection, DevExpress.Web.v13.2, Version=13.2.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="errors" type="DevExpress.Web.ASPxClasses.ErrorsConfigurationSection, DevExpress.Web.v13.2, Version=13.2.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
    </sectionGroup>-->
    <sectionGroup name="devExpress">
      <section name="themes" type="DevExpress.Web.ASPxClasses.ThemesConfigurationSection, DevExpress.Web.v13.2, Version=13.2.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="compression" type="DevExpress.Web.ASPxClasses.CompressionConfigurationSection, DevExpress.Web.v13.2, Version=13.2.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="settings" type="DevExpress.Web.ASPxClasses.SettingsConfigurationSection, DevExpress.Web.v13.2, Version=13.2.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="errors" type="DevExpress.Web.ASPxClasses.ErrorsConfigurationSection, DevExpress.Web.v13.2, Version=13.2.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>


    <!--  <add name="dbcon" connectionString="Data Source=DESKTOP-90ALDU9\SQLEXPRESS;Initial Catalog=DAFH_Portal;Integrated Security = true" providerName="System.Data.SqlClient"/>-->
     <!-- <add name="dbcon" connectionString="Server=193.100.101.245; Database=CairoScan_Portal; uid=sa;pwd=sa@123;; Trusted_Connection=False; MultipleActiveResultSets=true" providerName="System.Data.SqlClient" /> -->

     <add name="dbcon" connectionString="Data Source=41.33.123.36;Initial Catalog=CSNew;uid=dotnet;pwd=DotNet;" providerName="System.Data.SqlClient"/>
 <add name="ConSurvey" connectionString="Data Source=.;Initial Catalog=CS_Portal;uid=dotnet;pwd=DotNet;" providerName="System.Data.SqlClient" />
    <add name="constr" connectionString="Data Source=.;Initial Catalog=CS_Portal;uid=dotnet;pwd=DotNet;" providerName="System.Data.SqlClient" />
    <add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES'" />
    <add name="Excel07+ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES'" />
  </connectionStrings>
  <system.web>
    <customErrors mode="Off" />
    <pages maintainScrollPositionOnPostBack="true" />
    <compilation targetFramework="4.5">
      <assemblies>
       
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        
      </assemblies>
    </compilation>
    <httpModules>
     </httpModules>
    <httpHandlers>
       </httpHandlers>
 <authentication mode="Windows"/>

  </system.web>
  <system.webServer>
	<staticContent>
		<clientCache httpExpires="Sun, 29 Mar 2020 00:00:00 GMT" cacheControlMode="UseExpires" />
	</staticContent>

    <modules>
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
     </handlers>
        <defaultDocument>
            <files>
                <remove value="iisstart.htm" />
            </files>
        </defaultDocument>
  </system.webServer>
  <devExpress>
    <themes enableThemesAssembly="true" styleSheetTheme="" theme="" customThemeAssemblies="" />
    <compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="true" />
    <settings rightToLeft="false" doctypeMode="Xhtml" />
    <errors callbackErrorRedirectUrl="" />
  </devExpress>
 <appSettings>
    <add key="LogonFallback" value="true" />
  </appSettings>
</configuration>
<!--<?xml version="1.0"?>

 
  <configuration>
  
    <connectionStrings>
          -->
<!--<add name="dbcon" connectionString="Data Source=.;Initial Catalog=OPD_DAF_Apps;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="constr" connectionString="Data Source=.;Initial Catalog=OPD_DAF_Apps;Integrated Security=True" />-->
<!--
    <add name="dbcon" connectionString="Data Source=.;Initial Catalog=OPD_DAF_Apps;uid=dotnet;pwd=DotNet;" providerName="System.Data.SqlClient"/>
    <add name="constr" connectionString="Data Source=.;Initial Catalog=OPD_DAF_Apps;uid=dotnet;pwd=DotNet;" providerName="System.Data.SqlClient"/>
    <add name = "Excel03ConString" connectionString = "Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES'"/>
    <add name = "Excel07+ConString" connectionString = "Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES'"/>
  </connectionStrings>

  <system.web>
    <httpRuntime maxRequestLength="1048576" />

    <customErrors mode="Off"/>

    -->
<!--<customErrors mode="On" defaultRedirect="~/error.aspx"></customErrors>-->
<!--
    <compilation debug="true" targetFramework="4.0">
      <assemblies>

        <add assembly="Microsoft.Office.Interop.Excel, Version=12.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>
      </assemblies>
    </compilation>
  </system.web>
</configuration>-->
<!--ProjectGuid: 64444bbe-cc09-4b7a-a2a6-55d6fdd65d31-->